*{
    -fx-font-family: 'Comic Sans MS';

}

.setLoginBackground{
    -fx-background-image: url('images/interface/background.gif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.textfeildOnLoginSignup{
    -fx-text-fill: #161837;
    -fx-font-size: 17px;
    
    -fx-background-color: #ffd7ff ;
    -fx-background-radius: 7;
}
.textfeildOnLoginSignup:hover{
    -fx-border-width: 1px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}

.textfeildOnLoginSignup:focused{
    -fx-border-width: 2px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}

.buttonOnloginSignUp{
    -fx-text-fill: #BF9DBF;
    -fx-font-size: 17px;

    -fx-background-color: #161837 ;
    -fx-background-radius: 7;
}

.buttonOnloginSignUp:hover{
    -fx-background-color: #BF9DBF ;
    -fx-text-fill: #161837;

}
.buttonOnloginSignUp:pressed{
    -fx-background-color: #161837 ;
    -fx-text-fill: #BF9DBF;

}



.setTeacherUIBackground{
    -fx-background-image: url("images/interface/background-teacher.gif");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}




.buttonOnTeacherUI{
    -fx-text-fill: #BF9DBF;

    -fx-background-color: #161837 ;
    -fx-background-radius: 7;

}
.buttonOnTeacherUI:hover{
    -fx-background-color: #BF9DBF ;
    -fx-text-fill: #161837;
}
.buttonOnTeacherUI:pressed{
    -fx-background-color: #161837 ;
    -fx-text-fill: #BF9DBF;

}

.manageAttendenceButton{
    -fx-background-image: url('images/interface/ATTENDENCE.png');
}
.manageStudentButton{
    -fx-background-image: url('images/interface/STUDENTS.png');
}
.manageProfile{
    -fx-background-image: url('images/interface/PROFILE.png');
}