*{
    -fx-font-family: 'Comic Sans MS';

}

.setLoginBackground{
    -fx-background-image: url('images/interface/background.gif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.textfeildOnLoginSignup{
    -fx-text-fill: #161837;
    -fx-font-size: 17px;
    
    -fx-background-color: #ffd7ff ;
    -fx-background-radius: 7;
}
.textfeildOnLoginSignup:hover{
    -fx-border-width: 1px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}

.textfeildOnLoginSignup:focused{
    -fx-border-width: 2px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}

.buttonOnloginSignUp{
    -fx-text-fill: #BF9DBF;
    -fx-font-size: 17px;

    -fx-background-color: #161837 ;
    -fx-background-radius: 7;
}

.buttonOnloginSignUp:hover{
    -fx-background-color: #BF9DBF ;
    -fx-text-fill: #161837;

}
.buttonOnloginSignUp:pressed{
    -fx-background-color: #161837 ;
    -fx-text-fill: #BF9DBF;

}



.setTeacherUIBackground{
    -fx-background-image: url("images/interface/background-teacher.gif");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}




.buttonOnTeacherUI{
    -fx-text-fill: #BF9DBF;

    -fx-background-color: #161837 ;
    -fx-background-radius: 7;

}
.buttonOnTeacherUI:hover{
    -fx-background-color: #BF9DBF ;
    -fx-text-fill: #161837;
}
.buttonOnTeacherUI:pressed{
    -fx-background-color: #161837 ;
    -fx-text-fill: #BF9DBF;

}

.manageAttendenceButton{
    -fx-background-image: url('images/interface/ATTENDENCE.png');
}
.manageStudentButton{
    -fx-background-image: url('images/interface/STUDENTS.png');
}
.manageProfileButton{
    -fx-background-image: url('images/interface/PROFILE.png');
}


.textFeildOnTeacherUI{
    -fx-text-fill: #161837;
    -fx-background-color: #ffd7ff ;
    -fx-background-radius: 7;
}
.textFeildOnTeacherUI:hover{
    -fx-border-width: 1px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}

.textFeildOnTeacherUI:focused{
    -fx-border-width: 2px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}



.titleLabelOnDarkBackgroung{
    -fx-text-fill: #ffd7ff;
}
.dataLabelOnDarkBackground{
    -fx-text-fill: White;
}



.confirmAddStudentButton:hover{
    -fx-background-color: rgb(85, 150, 85) ;
    -fx-text-fill: white;
}
.confirmDeleteStudentButton:hover{
    -fx-background-color: rgb(194, 71, 71) ;
    -fx-text-fill: White;
}



.addStudentButton{
    -fx-background-image: url('images/interface/addStudentButton.png');
}
.deleteStudentButton{
    -fx-background-image: url('images/interface/deleteStudentButton.png');
}

.markAttendeceButton{
    -fx-background-image: url('images/interface/markAttendenceButton.png');
}
.viewAttendenceButton{
    -fx-background-image: url('images/interface/viewAttendenceButton.png');
}

.editProfileButton{
    -fx-background-image: url('images/interface/editProfileButton.png');
}
.logoutButton{
    -fx-background-image: url('images/interface/logoutButton.png');
}
.deleteAccount{
    -fx-background-image: url('images/interface/deleteAccountButton.png');
}

.editDP{
    -fx-background-image: url('images/interface/editDP.png');
    -fx-background-radius: 50;
    -fx-background-color: transparent;
}

