*{
    -fx-font-family: 'Comic Sans MS';

}

.setBackground{
    -fx-background-image: url('images/interface/background.gif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.textfeildOnLoginSignup:focused{
    -fx-border-width: 2px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}

.textfeildOnLoginSignup{
    -fx-text-fill: #161837;
    -fx-font-size: 17px;

    -fx-background-color: #ffd7ff ;
    -fx-background-radius: 7;
}
.textfeildOnLoginSignup:hover{
    -fx-border-width: 1px;
    -fx-border-color: #161837;
    -fx-border-radius: 7;
}

.buttonOnloginSignUp{
    -fx-text-fill: #161837;
    -fx-font-size: 17px;

    -fx-background-color: #BF9DBF ;
    -fx-background-radius: 7;
}

.buttonOnloginSignUp:hover{
    -fx-background-color: #161837 ;
    -fx-text-fill: #BF9DBF;

}
.buttonOnloginSignUp:pressed{
    -fx-background-color: #BF9DBF ;
    -fx-text-fill: #161837;

}